.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid teal;
  margin: 1rem 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.imageContainer {
  min-width: 6rem;
  text-align: center;
}

.itemImage {
  max-width: 5rem;
  max-height: 9rem;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-decoration: none;
}
