.mainContainer {
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

input[type=number] {
  -moz-appearance: textfield;
  width: 2rem;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.itemsPerPage {
  padding: 0.5rem;
  text-align: center;
}

select {
  height: 1.5rem;
  font-size: 1rem;
}

.message {
  position: absolute;
  top: -1rem;
  margin: 1rem;
  text-align: center;
  color: red;
  font-size: 1.5rem;
}
